импорт библиотек

In [6]:
import numpy as np
import pandas as pd

загрузка данных

In [7]:
DATASET_PATH = "../Lesson_03_Matplotlib/data/housing.csv"
PREPEARED_DATASET_PATH = "../Lesson_03_Matplotlib/data/housing_prepared.csv"

In [16]:
df = pd.read_csv(DATASET_PATH)
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2

In [9]:
df.shape

(20640, 11)

In [12]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'id'],
      dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=20640, step=1)

In [19]:
df['longitude'].head(3)

0   -122.23
1   -122.22
2   -122.24
Name: longitude, dtype: float64

если два и более столбцов - то две [[

In [20]:
df[['longitude', 'latitude']].head(3)

   longitude  latitude
0    -122.23     37.88
1    -122.22     37.86
2    -122.24     37.85

выборка по условию

In [21]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2

In [27]:
df[(df['housing_median_age'] < 20) & (df['total_bedrooms'] < 10)].head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
3125,-117.76,35.22,4.0,18.0,3.0,8.0,6.0,1.625,275000.0,INLAND,3125
3126,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.375,137500.0,INLAND,3126

вывод только части столбцов

In [36]:
df.loc[(df['housing_median_age'] < 20) & (df['total_bedrooms'] < 5) & (df['total_rooms'] > 10), ['total_rooms', 'total_bedrooms', 'median_house_value']]

       total_rooms  total_bedrooms  median_house_value
3125          18.0             3.0            275000.0
13606         30.0             3.0            250000.0
18506         32.0             4.0            137500.0

### Работа с типами данных

In [38]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2

In [37]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
id                      int64
dtype: object

In [39]:
type(df)

pandas.core.frame.DataFrame

In [40]:
type(df['longitude'])

pandas.core.series.Series

In [41]:
df['longitude'].dtype

dtype('float64')

преобразовать тип

In [42]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
id                      int64
dtype: object

In [47]:
df['id'] = df['id'].astype(str)

In [48]:
df['id'].dtypes

dtype('O')

In [57]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2

## Работа с данными

In [58]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,19918.000000,20640.000000,20433.000000,20041.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.653630,2635.763081,537.870553,1425.418243,499.539680,3.870671,206855.816909
std,5.041408,94.903955,12.576796,2181.615252,421.385070,1135.185798,382.329753,1.899822,115395.615874
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,786.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1726.000000,605.000000,4.743250,264725.000000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

#### Явно получим столбцы в которых есть пропуски

In [60]:
desc = df.describe()

In [75]:
desc.loc['count']

longitude             20640.0
latitude              20640.0
housing_median_age    19918.0
total_rooms           20640.0
total_bedrooms        20433.0
population            20041.0
households            20640.0
median_income         20640.0
median_house_value    20640.0
Name: count, dtype: float64

In [97]:
desc.loc['count'][desc.loc['count'] < df.shape[0]]

housing_median_age    19918.0
total_bedrooms        20433.0
population            20041.0
Name: count, dtype: float64

или только имена столбцов:

In [103]:
desc.loc['count'][desc.loc['count'] < df.shape[0]].index

Index(['housing_median_age', 'total_bedrooms', 'population'], dtype='object')

или просто количество столбцов в датафрейме с пропусками

In [104]:
len(desc.loc['count'][desc.loc['count'] < df.shape[0]].index)

3

### Стандартные метрики

In [105]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,19918.000000,20640.000000,20433.000000,20041.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.653630,2635.763081,537.870553,1425.418243,499.539680,3.870671,206855.816909
std,5.041408,94.903955,12.576796,2181.615252,421.385070,1135.185798,382.329753,1.899822,115395.615874
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,786.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1726.000000,605.000000,4.743250,264725.000000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [106]:
df.quantile(0.4)

longitude               -119.9000
latitude                  34.1000
housing_median_age        25.0000
total_rooms             1835.0000
total_bedrooms           377.0000
population              1006.0000
households               356.0000
median_income              3.1406
median_house_value    157300.0000
Name: 0.4, dtype: float64

In [109]:
df['housing_median_age'].quantile(0.4)

25.0

In [110]:
df['total_rooms'].quantile(0.9)

4651.500000000011

### Работа с категориальными переменными

In [133]:
df_obj_features = df.select_dtypes(include='object')

In [134]:
df_obj_features.head(3)

  ocean_proximity id
0        NEAR BAY  0
1        NEAR BAY  1
2        NEAR BAY  2

или то же самое исключая числовые переменные

In [135]:
df.select_dtypes(exclude='float').head(3)

  ocean_proximity id
0        NEAR BAY  0
1        NEAR BAY  1
2        NEAR BAY  2

In [139]:
df_obj_features.drop('id', axis=1, inplace=True)

/Users/igor/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [141]:
df_obj_features.head(3)

  ocean_proximity
0        NEAR BAY
1        NEAR BAY
2        NEAR BAY

In [143]:
df_obj_features['ocean_proximity'].value_counts()

<1H OCEAN     9127
INLAND        6542
NEAR OCEAN    2655
NEAR BAY      2288
-               23
ISLAND           5
Name: ocean_proximity, dtype: int64

Уникальные значения:

In [144]:
df_obj_features['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', '-', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

количество уникальных значений:

In [145]:
df_obj_features['ocean_proximity'].nunique()

6

поиск пропусков

In [147]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age    722
total_rooms             0
total_bedrooms        207
population            599
households              0
median_income           0
median_house_value      0
ocean_proximity         0
id                      0
dtype: int64

показать только отдичные от 0 значения:

In [157]:
df.isnull().sum()[df.isnull().sum().values != 0]

housing_median_age    722
total_bedrooms        207
population            599
dtype: int64

### Работа с пропусками

Посмотрим % пропусков

In [159]:
df.isnull().sum()[df.isnull().sum().values != 0] / df.shape[0] * 100

housing_median_age    3.498062
total_bedrooms        1.002907
population            2.902132
dtype: float64

In [164]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1

#### housing_median_age

In [166]:
median_age = df['housing_median_age'].median()
median_age

29.0

In [167]:
df['housing_median_age'] = df['housing_median_age'].fillna(median_age)

In [168]:
df.isnull().sum()[df.isnull().sum().values != 0] / df.shape[0] * 100

total_bedrooms    1.002907
population        2.902132
dtype: float64

#### total_bedrooms

In [169]:
median_totbd = df['total_bedrooms'].median()
median_totbd

435.0

In [170]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(median_totbd)

#### population

In [171]:
median_popul = df['population'].median()
median_popul

1165.0

In [173]:
df['population'] = df['population'].fillna(median_popul)

In [174]:
df.isnull().sum()[df.isnull().sum().values != 0] / df.shape[0] * 100

Series([], dtype: float64)

#### ocean_proximity

заполним пропуски модой

In [175]:
df['ocean_proximity'].mode()

0    <1H OCEAN
dtype: object

In [178]:
df.replace({'ocean_proximity': 
            {'-':df['ocean_proximity'].mode()[0]}
           }, 
           inplace=True)

In [179]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9150
INLAND        6542
NEAR OCEAN    2655
NEAR BAY      2288
ISLAND           5
Name: ocean_proximity, dtype: int64

## Обработка выбросов

In [180]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.665746,2635.763081,536.838857,1417.860562,499.539680,3.870671,206855.816909
std,5.041408,94.903955,12.355019,2181.615252,419.391878,1119.445348,382.329753,1.899822,115395.615874
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,19.000000,1447.750000,297.000000,797.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1701.000000,605.000000,4.743250,264725.000000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

#### Проверим на недопустимые значения долготы и широты, с учетом того, что дома у нас в Калифорнии

долгота должна быть меньше 0 и больше чем -130, широта должна быть больше 0 и меньше 42

In [188]:
 df.loc[df['latitude'].abs() > 90]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
8283,-118.13,-13534.03,45.0,1016.0,172.0,361.0,163.0,7.5000,434500.0,NEAR OCEAN,8283
12772,-121.42,1327.13,29.0,2217.0,536.0,1203.0,507.0,1.9412,73100.0,INLAND,12772

In [192]:
 df.loc[(df['longitude'].abs() < 110) | (df['longitude'].abs() > 130)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
17085,0.0,37.47,33.0,1266.0,415.0,1991.0,334.0,2.9200,202800.0,NEAR OCEAN,17085
17359,0.0,34.88,4.0,3680.0,559.0,1678.0,569.0,5.0639,201700.0,<1H OCEAN,17359
19423,0.0,37.69,5.0,9601.0,1639.0,4449.0,1575.0,4.5332,195500.0,INLAND,19423

In [208]:
 df.loc[(df['longitude'] < -130) |
        (df['longitude'] >= 0) | 
        (df['latitude'] < 0) | 
        (df['latitude'] > 42)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
3479,118.51,34.29,29.0,1287.0,194.0,525.0,187.0,6.4171,319300.0,<1H OCEAN,3479
5904,118.43,34.29,39.0,1769.0,410.0,1499.0,390.0,3.1212,153500.0,<1H OCEAN,5904
8283,-118.13,-13534.03,45.0,1016.0,172.0,361.0,163.0,7.5000,434500.0,NEAR OCEAN,8283
8405,118.36,33.93,40.0,1625.0,500.0,2036.0,476.0,2.6298,156500.0,<1H OCEAN,8405
8636,118.41,33.88,43.0,2492.0,449.0,1033.0,437.0,7.9614,500001.0,<1H OCEAN,8636
12772,-121.42,1327.13,29.0,2217.0,536.0,1203.0,507.0,1.9412,73100.0,INLAND,12772
13051,121.29,38.61,17.0,13553.0,2474.0,6544.0,2359.0,3.9727,132700.0,INLAND,13051
15263,117.27,33.02,21.0,2144.0,340.0,928.0,344.0,5.7980,286100.0,NEAR OCEAN,15263
17085,0.00,37.47,33.0,1266.0,415.0,1991.0,334.0,2.9200,202800.0,NEAR OCEAN,17085
17359,0.00,34.88,4.0,3680.0,559.0,1678.0,569.0,5.0639,201700.0,<1H OCEAN,17359
18551,122.03,36.96,28.0,1607.0,421.0,926.0,385.0,2.4250,216100.0,NEAR OCEAN,18551
19423,0.00,37.69,5.0,9601.0,1639.0,4449.0,1575.0,4.5332,195500.0,INLAND,19423

In [209]:
len( df.loc[(df['longitude'] < -130) |
        (df['longitude'] >= 0) | 
        (df['latitude'] < 0) | 
        (df['latitude'] > 42)])

12

все долготы где положительные цифры - умножаем на -1

In [211]:
df.loc[df['longitude'] > 0, 'longitude'] = df.loc[df['longitude'] > 0, 'longitude'] * -1

In [213]:
 df.loc[(df['longitude'] < -130) |
        (df['longitude'] >= 0) | 
        (df['latitude'] < 0) | 
        (df['latitude'] > 42)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
8283,-118.13,-13534.03,45.0,1016.0,172.0,361.0,163.0,7.5000,434500.0,NEAR OCEAN,8283
12772,-121.42,1327.13,29.0,2217.0,536.0,1203.0,507.0,1.9412,73100.0,INLAND,12772
17085,0.00,37.47,33.0,1266.0,415.0,1991.0,334.0,2.9200,202800.0,NEAR OCEAN,17085
17359,0.00,34.88,4.0,3680.0,559.0,1678.0,569.0,5.0639,201700.0,<1H OCEAN,17359
19423,0.00,37.69,5.0,9601.0,1639.0,4449.0,1575.0,4.5332,195500.0,INLAND,19423

долготы = 0 - заменим на медиану

In [214]:
df.loc[df['longitude'] == 0, 'longitude'] = df['longitude'].median()

In [215]:
 df.loc[(df['longitude'] < -130) |
        (df['longitude'] >= 0) | 
        (df['latitude'] < 0) | 
        (df['latitude'] > 42)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
8283,-118.13,-13534.03,45.0,1016.0,172.0,361.0,163.0,7.5000,434500.0,NEAR OCEAN,8283
12772,-121.42,1327.13,29.0,2217.0,536.0,1203.0,507.0,1.9412,73100.0,INLAND,12772

In [216]:
df.loc[(df['latitude'] < 0) |
       (df['latitude'] > 42), 'latitude'] = df['latitude'].median()

In [217]:
 df.loc[(df['longitude'] < -130) |
        (df['longitude'] >= 0) | 
        (df['latitude'] < 0) | 
        (df['latitude'] > 42)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity, id]
Index: []

Отлично - явные ошибки убрали

### Построение новых признаков

#### Убираем столбец id

In [218]:
df = df[df.columns[:-1]]

In [219]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

#### Дополнительные признаки

In [220]:
# Доля спален в общем количестве комнат
df['bedroom_share'] = df['total_rooms'] / df['total_bedrooms']

In [222]:
# Сколько человек живут в одной комнате
df['population_per_room'] = df['total_rooms'] / df['population']

In [223]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,bedroom_share,population_per_room
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.821705,2.732919
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.418626,2.956685

In [224]:
# На скольких человек приходится одна спальня
df['population_per_bedroom'] = df['total_bedrooms'] / df['population']

In [225]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,bedroom_share,population_per_room,population_per_bedroom
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.821705,2.732919,0.400621
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.418626,2.956685,0.460641

In [231]:
df.describe()[['bedroom_share', 'population_per_room', 'population_per_bedroom', 'median_house_value']]

,bedroom_share,population_per_room,population_per_bedroom,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000
mean,4.993917,1.984176,0.405851,206855.816909
std,1.239235,1.144835,0.256599,115395.615874
min,0.354023,0.002547,0.000670,14999.000000
25%,4.164476,1.517159,0.314496,119600.000000
50%,4.922250,1.937655,0.372556,179700.000000
75%,5.706958,2.302608,0.445483,264725.000000
max,26.917241,55.222222,14.194444,500001.000000

#### работа с категориями

In [234]:
df = pd.concat([df, pd.get_dummies(df['ocean_proximity'])], axis=1)

In [235]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,bedroom_share,population_per_room,population_per_bedroom,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.821705,2.732919,0.400621,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.418626,2.956685,0.460641,0,0,0,1,0

посчитаем медиану по числу комнат в каждой из категорий ocean_proximity

In [236]:
df.groupby('ocean_proximity')['total_rooms'].median()

ocean_proximity
<1H OCEAN     2108.0
INLAND        2130.0
ISLAND        1675.0
NEAR BAY      2083.0
NEAR OCEAN    2197.0
Name: total_rooms, dtype: float64

In [238]:
df_cat = df.groupby('ocean_proximity')['total_rooms'].median()
df_cat = pd.DataFrame(df_cat)
df_cat

                 total_rooms
ocean_proximity
<1H OCEAN             2108.0
INLAND                2130.0
ISLAND                1675.0
NEAR BAY              2083.0
NEAR OCEAN            2197.0

In [239]:
df_cat.reset_index(inplace=True)
df_cat

  ocean_proximity  total_rooms
0       <1H OCEAN       2108.0
1          INLAND       2130.0
2          ISLAND       1675.0
3        NEAR BAY       2083.0
4      NEAR OCEAN       2197.0

In [240]:
df_cat.rename(columns={'total_rooms': 'median_rooms'}, inplace=True)

df_cat.sort_values(by='median_rooms')

  ocean_proximity  median_rooms
2          ISLAND        1675.0
3        NEAR BAY        2083.0
0       <1H OCEAN        2108.0
1          INLAND        2130.0
4      NEAR OCEAN        2197.0

In [243]:
df = df.merge(df_cat, on='ocean_proximity')
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,bedroom_share,population_per_room,population_per_bedroom,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.821705,2.732919,0.400621,0,0,0,1,0,2083.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.418626,2.956685,0.460641,0,0,0,1,0,2083.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,7.721053,2.957661,0.383065,0,0,0,1,0,2083.0

Сохранение данных

In [251]:
df.to_csv(PREPEARED_DATASET_PATH, index=False, encoding='utf-8')